.template-preview{
    cursor: pointer;
    width: 18rem;
    height: 10.8rem;
    background-color: #f0eeee;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-family: Lato regular,sans-serif;

    

    display: flex;
    flex-direction: column;
    align-items: center;

   
    @include for-large-phone{
        width: 23rem;
        height: 13.8rem;

    }

    @include for-large-tablet{
        width: 19.5rem;
        height: 11.7rem;

    }
    @include for-desktop{
        width: 25rem;
        height: 15rem;

    }

    .create-template-preview-img{
        width: 100%;
        height: 68.6%;
        object-fit:cover;

        transition:opacity .5s ;

        &:hover{
            opacity:0.5
        }
        

        @include for-large-phone{
            height: 74.3%;
    
        }
        @include for-tablet{
            height: 73.3%;
    
        }
        @include for-large-tablet{
            height:68.5%;
    
        }
        @include for-desktop{
            height:75%;
    
        }

    }

     .create-template-preview-lower{
        padding: 1rem 0;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
      
    }

    .create-template-preview-upper{
        width: 100%;
         flex:1;


        }    
}

.create-template-preview{
    cursor: pointer;
    width: 18rem;
    height: 10.8rem;
    // background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-family: Lato regular,sans-serif;


 


    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include for-large-phone{
        width: 23rem;
        height: 13.8rem;

    }

    @include for-large-tablet{
        width: 19.5rem;
        height: 11.7rem;

    }
    @include for-desktop{
        width: 25rem;
        height: 15rem;

    }

    
  
    .create-template-preview-upper{
   
       width: 100%;
        flex:1;
        @include flex-center;
        font-size: 3rem;
        color: #292929b9;
        
        animation: gradient 12s ease infinite;
        background-size: 400% 400% !important;
        
        transition:  .5s ;
        opacity: 0.2;
        
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        opacity: 1;
        
        @include for-tablet{
            
            transition:  .5s ;
            opacity: 0.6;
            &:hover{
                background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                opacity: 1;
            }

        }

    }
    .create-template-preview-lower{
       
        padding: 1rem 0;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        border-top: 1px solid #6e6e6e3d;

    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
