@font-face {
    font-family: Bree serif;
    src: url("../../assets/fonts/bree-serif/BreeSerif-Regular.ttf");
}
@font-face {
    font-family: kalam regular;
    src: url("../../assets/fonts/kalam/Kalam-Regular.ttf");
}
@font-face {
    font-family: sncl;
    src: url("../../assets/fonts/sncl/SeoulNamsanCondensed-Light.ttf");
}
@font-face {
    font-family: Lato regular;
    src: url("../../assets/fonts/lato/Lato-Regular.ttf");
}
@font-face {
    font-family: Lato light;
    src: url("../../assets/fonts/lato/Lato-Light.ttf");
}
