@font-face {
    font-family: Bree serif;
    src: url("../../assets/fonts/bree-serif/BreeSerif-Regular.ttf");
}
@font-face {
    font-family: kalam regular;
    src: url("../../assets/fonts/kalam/Kalam-Regular.ttf");
}
@font-face {
    font-family: sncl;
    src: url("../../assets/fonts/sncl/SeoulNamsanCondensed-Light.ttf");
}
@font-face {
    font-family: Lato regular;
    src: url("../../assets/fonts/lato/Lato-Regular.ttf");
}
@font-face {
    font-family: Lato light;
    src: url("../../assets/fonts/lato/Lato-Light.ttf");
}



// TEMPLATES FONTS
@font-face {
    font-family: Pacifico regular;
    src: url("../../assets/fonts/pacifico/Pacifico-Regular.ttf");
}
@font-face {
    font-family: Birthstone regular;
    src: url("../../assets/fonts/bithstone/Birthstone-Regular.ttf");
}
@font-face {
    font-family: Roboto regular;
    src: url("../../assets/fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto medium;
    src: url("../../assets/fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: Roboto bold;
    src: url("../../assets/fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto light;
    src: url("../../assets/fonts/roboto/Roboto-Light.ttf");
}
