.user-details{
    display: flex;
    // align-items: center;
    font-family: Roboto regular,sans-serif;
    align-items: center;
    // flex-direction: column;
    
    @include for-large-tablet{
        color: $main-light-color;
        flex-direction: column;

    }

    
    
    .user-profile-img{
        align-self: center;
        width: 11rem;
        background-color: #fff;
        height: 11rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .user-profile-content{


        color: $main-dark-color;
        text-align: center;
        
        @include for-large-tablet{
            color: $main-light-color;

        }



        & h3{
           font-size: 1.8rem;
        }
        & h4{
           font-size: 1.2rem;
           color: rgb(153, 153, 153);
        }


        .user-stats{
          
            margin-top: 1rem;
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            gap: 1rem;
            .user-stats-icon{
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                align-content:center ;

            }

            
            .saved-sites{
                display: flex;
                gap: 5px;
            }
            
            .published-sites{
                display: flex;
                gap: 5px;
            }
        }
    }
}