.home-page-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Bree Serif", serif;
    background-color: $main-light-color;
}

.home-page-content-container {
    min-height: 100vh;
}
