
.auth-modal-container{
    z-index: 100;
    background-color: #ffffff;

    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    border-radius: 10px;

    animation: opacity .5s;


    .auth-form-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        min-width: 22rem;
        min-height: 26.5rem;
        padding-bottom: 1rem;
        position: relative;

        @include for-large-phone{
            min-width: 24rem;
        } 
    }

    .auth-form-txt{
        margin-top: 2rem;
        color: rgb(100, 100, 100);
        
        span{
            color: $main-dark-color;
            cursor: pointer;
            margin-left: 0.5rem;
            text-decoration: underline;
        }
    }
    
}

@keyframes opacity {

    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}