.screen {
    filter: opacity(0);
    pointer-events: none;
    cursor: pointer;
    position: fixed;
    background: rgba(46, 46, 46, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: 0.3s;
}

.screen-active {
    filter: opacity(1);
    pointer-events: visible;
}
