.side-nav {
    min-height: 100vh;
    width: 3rem;
    background-color: #141923;
    padding: 0 0.5rem;
    z-index: 10;

    .side-nav-icons-container {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        color: $main-light-color;
        align-items: center;
        gap: 2rem;

        &:first-child a {
            margin-top: 3rem;
        }
    }
}
