.get-started-btn {
    display: none;
    @include main-btn($main-light-color, $main-dark-color);

    @include for-tablet {
        display: inline-block;
    }
}

.header-hamburger-btn {
    cursor: pointer;
    font-size: 1.5rem;
    color: $main-dark-color;

    @include for-tablet {
        display: none;
    }
}
