.user-cursor-container {
    position: fixed;
    z-index: 1000000;
    font-size: 1.5rem;
    display: flex;
    gap: 3px;
    align-items: center;

    .user-cursor-name {
        font-size: 0.9rem;
        border-radius: 10px;
        color: $main-dark-color;
        padding: 0.3rem;
        font-family: Lato regular, sans-serif;
    }
}
